<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)">

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-img
          src="https://img.freepik.com/vecteurs-libre/illustration-du-concept-connexion_114360-739.jpg"
          alt="Illustration"
        ></ion-img>
        <ion-label><strong>Welcome Back</strong></ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item> 
          <ion-input labelPlacement="floating" class="ion-text-center" type="email" placeholder="email@example.com"
          ngModel name="email"
          >
              <div slot="label">Email</div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              labelPlacement="floating"
              class="ion-text-center"
              [type]="showPassword ? 'text' : 'password'"
              placeholder="password"
              (ionInput)="onPasswordInput($event)"
              ngModel
              name="password"
            >
              <div slot="label">Password</div>
            </ion-input>
            <ion-button
              fill="clear"
              slot="end"
              *ngIf="toggleVisible"
              (click)="togglePasswordVisibility()"
             
            >
              <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </ion-button>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-vertical">
        <ion-button expand="block" type="submit">Sign In</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding-vertical">
        <ion-label>Don't have an account ?</ion-label>
        <ion-router-link routerLink="/signup" class="ion-text-center">
          <ion-button expand="block" fill="clear">Sign Up</ion-button>
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>

  </form>
</ion-content>

