<ion-header>
  <ion-toolbar>
    <ion-title>Movies Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addMovie()">
    <ion-item>
      <ion-label position="floating">Movie Title</ion-label>
      <ion-input [(ngModel)]="movieTitle" name="movieTitle" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Movie Type</ion-label>
      <ion-input [(ngModel)]="type" name="type" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Movie Description</ion-label>
      <ion-input [(ngModel)]="movieDescription" name="movieDescription" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-content>
        <ion-fab  horizontal="center" slot="fixed" >
          <ion-fab-button (click)="takePicture()" >
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ion-item>
    <ion-item *ngIf="capturedImage">
      <ion-img [src]="capturedImage" alt="Captured Image"></ion-img>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="!movieTitle || !movieDescription ">Add Movie</ion-button>
  </form>
</ion-content>
