
<ion-content>

<router-outlet></router-outlet>
<ion-tabs>





  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="mv">
      <ion-icon name="film-outline"></ion-icon>
      Movies
    </ion-tab-button>

    <ion-tab-button tab="pl">
      <ion-icon name="star-outline"></ion-icon>
      Favorite

    </ion-tab-button>
    <ion-tab-button tab="pf">
      <ion-icon name="person-outline"></ion-icon>
      Profile
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>


