<ion-content [fullscreen]="true">


  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="{{userData?.profileImage}}" alt="User profile picture"   />
      </ion-avatar>
    </div>
  </ion-grid>



  <div class="container">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" value="{{userData?.firstName}}" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" value="{{userData?.lastName}}" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="text" value="{{userData?.age}}" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" value="{{userData?.email}}" ></ion-input>
      </ion-item>
     
     
    </ion-list>
    <ion-button slot="end" color="dark" >Save</ion-button>
  </div>

</ion-content>
